/* @import "styleReset.css"; */
/* @import "styleReset.css"; */
:root {
    --darwarm: #cb997e;
    --medwarm: #ddbea9;
    --base: #ffe8d6;
    --ligcold: #b7b7a4;
    --medcold: #a5a58d;
    --darcold:#6b705c;
  }



  /* Array */
/* ["cb997e","ddbea9","ffe8d6","b7b7a4","a5a58d","6b705c"] */

/* Object */
/* {   "Antique Brass":"cb997e",
    "Desert Sand":"ddbea9",
    "Champagne Pink":"ffe8d6",
    "Ash Gray":"b7b7a4",
    "Artichoke":"a5a58d",
    "Ebony":"6b705c"} */
  /* .container {
    color: var(--base);
    background-color: var(--white);
    padding: 15px;
  } */

body {
    background-color: var(--darcold);
    color:var(--darcold);
    font-size: 20px; 
    font-family: 'Arial', serif;
    /* margin: 15px ;  */
    line-height: 22px;
}


.navbar {
    background-color: transparent;
    position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
    width: 100%;
    top: 0px;
    left: 0px;
    
  }
  nav ul {
      /*float: right; recordar quitar y 
      usar bootstrap*/
      text-align: center;
      padding: 0;
      margin: 0;
  }
  nav li {
    display: inline-block;
    padding: .4rem 1em;/*cambiar en res 500 y 100*/ 
    
}
a { 
    color:rgb(68, 68, 68);
    font-size: 1.2rem;/*cambiar en res 500 y 100*/
    text-decoration: none;  
}


/*----------F O R M S   S T U F F s------------*/
.titlepage {
    color:  rgba(255, 0, 0, 0.356);
    text-align: left;
    font-size:2rem;
    margin: 70px auto 20px;
  }
  
  form {
    color:  rgba(255, 0, 0, 0.356);
    font-size: 2rem;
    text-align: right;
    margin: 30px auto 60px ;
    width: 80%;
    max-width: 450px;
  }
  form div {
    margin: -.8rem 0;
  }
  
  
  .inputtitle{
    color: rgba(255, 0, 0, 0.356); 
    text-align: left;
    font-size: 1rem;
    
    
  }
  .inputfield{
    background-color: var(--medwarm);
    color:#333;
    font-size:0.8rem;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 40px 0 0 ;
    border: 0px ;
    text-align: left;
  }
  
  form p {
    color: #ccc; 
    margin-top: 40px;
    text-align: center;
    font-size: .8rem;
  }
  form a {
    color: #ccc;
    font-size: .8rem;
    margin: 0 auto;
  }
  
  button {
    background-color: var(--darcold);
    color:#ccc;
    font-family: 'Arial', serif;
    font-size: 1.4rem;
    padding: 10px;
    margin: 40px 0px 20px;
    width: 170px;
    border: none;
    
  }






  
/* -----------M E D I A   Q U E R Y S---------*/

 @media (min-width: 576px){
   
    
  
  }
  
  
   @media (min-width: 992px) {
   
 
   
  }