/* @import "styleReset.css"; */
/* @import "styleReset.css"; */


@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,500;1,300&display=swap');
@import "stylesSelectImput.css";
:root {
    --darwarm: #cb997e;
    --medwarm: #ddbea9;
    --base: #ffe8d6;
    --ligcold: #b7b7a4;
    --medcold: #a5a58d;
    --darcold:#6b705c;
  }
:root {
  --c00: #FBF3EF;
  /* --c0: #f7e6de; */
  --c0: #F3D9CD;
  /* --DesertSand: #edc4b3; */
  /* --c0: #edc4b3; */
  /* --Tumbleweed: #e6b8a2; */
  --c1: #e6b8a2;
  /* --Tumbleweed2: #deab90; */
  /* --c2: #deab90; */
  /* --Tumbleweed3: #d69f7e; */
  --c2: #d69f7e;
  /* --AntiqueBrass: #cd9777; */
  /* --c4: #cd9777; */
  /* --AntiqueBrass2: #c38e70; */
  --c3: #c38e70;
  /* --CafeAuLait: #b07d62; */
  /* --c6: #b07d62; */
  /* --BrownSugar: #9d6b53; */
  --c4: #9d6b53;
  /* --Coffee: #8a5a44; */
  /* --c8: #8a5a44; */
  /* --Coffee2: #774936; */
  --c5: #774936;

  --c6: #382419;
}

body {
  background-color: var(--c2);
  color:var(--c6);
  font-size: 10px; 
  /* font-family: 'Arial', serif; */
  /* font-family: 'Syne Mono', monospace; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Comfortaa', cursive;
  /* margin: 15px ;  */
  line-height: 22px;
  text-align: center;
  /* margin: 2rem; */
  }
.navbar {
  /* background-color: transparent; */
  position: fixed; /*cambiar en res 500 y 1000. y ponerla hidden en 1000*/
  width: 100%;
  top: 0px;
  left: 0px;
  
}
nav ul {
  /*float: right; @media 600*/
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline-block;
  padding: .8rem 2em;/*cambiar en res 500 y 100*/ 
  
}
a { 
  color: var(--c1);
  font-weight: 600;
  font-size: 1.2rem;/*cambiar en res 500 y 100*/
  text-decoration: none;  
}
#headertitle {
  text-align: center;
  /* text-align: left; */
  padding: 18vh 0px 10vh;
}
hr{
  border: 1;
  height: 2px;
  background-image: linear-gradient(to right, var(--c3), var(--c3), var(--c3));
}
#turntitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 100px auto 100px; */
}
.pagetitle {
  color: var(--c0);
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 5.8rem;
  padding: 5vh 0px 5vh;
}
.turn{
  transform: rotateX(180deg);
}
.bitbiger {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 6.2rem;
  margin: 0px 0px 0px -10px;
}
.daark {
  color: var(--c1);
}

#btnseting {
  background-color: var(--c0);
  color:var(--c3);
  /* font-family: 'Arial', serif; */
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 8px;
  margin: 1rem 0px 2rem;
  width: 100%;
  border: none;

}
  
footer{
  color:var(--c0);
  font-size: .8rem;
  padding: 20px 0 20px
}
  
  /*----------F O R M S   S T U F F s------------*/
  .titlepage {
    color:  rgba(255, 0, 0, 0.356);
    text-align: left;
    font-size:2rem;
    margin: 70px auto 20px;
  }
  
  form {
    color:  rgba(255, 0, 0, 0.356);
    font-size: 2rem;
    text-align: right;
    margin: 30px auto 60px ;
    width: 80%;
    max-width: 450px;
  }
  form div {
    margin: -.8rem 0;
  }
  
  
  .inputtitle{
    color: rgba(255, 0, 0, 0.356); 
    text-align: left;
    font-size: 1rem;
    
    
  }
  .inputfield{
    background-color: var(--medwarm);
    color:#333;
    font-size:0.8rem;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin: 40px 0 0 ;
    border: 0px ;
    text-align: left;
  }
  
  form p {
    color: #ccc; 
    margin-top: 40px;
    text-align: center;
    font-size: .8rem;
  }
  form a {
    color: #ccc;
    font-size: .8rem;
    margin: 0 auto;
  }
  
  button {
    background-color: var(--darcold);
    color:#ccc;
    font-family: 'Arial', serif;
    font-size: 1.4rem;
    padding: 10px;
    margin: 40px 0px 20px;
    width: 170px;
    border: none;
    
  }






  
/* -----------M E D I A   Q U E R Y S---------*/

 @media (min-width: 576px){
   
    
  
  }
  
  
   @media (min-width: 992px) {
   
 
   
  }